@import "../../assets/variables.scss";

.board{
  display: flex;
  width: 339px;
  flex-wrap: wrap;

}

.board-button{
  display: flex;
  margin: 10px 0;
  justify-content: center;
  width: 100%;

  button{
    padding: 10px;
  }
}