.main-page {
  background: #ffd1d1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }




}


